/* page: demo 1 + demo 2 */
html {
    font-size: 14px;
}

.o-website-common .o-website-container {
    font-family: 'SF UI Display Regular';
    max-width: 80%;
    padding: 25px;
}

.o-website-common .o-website-container .header {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.65px;
    color: #704866;
}

.o-website-common .o-website-container .logo-bg {
    width: 100%;
}

.o-website-common .o-website-container .d-logo {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.32px;
    color: #242424;
    margin: 10px 0px;
}

.odoo-accounting-book-form {
    padding: 0px 15px;
}

/*.odoo-accounting-book-form .i-panel {
    border-radius: 8px;
    background-color: #f3f3f3;
    padding: 0px 30px;
    margin: 5px 0px;
}*/

.md-form {
    margin-top: 12px;
    margin-bottom: 12px;
}

.md-form .form-control {
    font-size: 14px;
    color: #565d61;
}

.md-form label {
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #565d61 !important;
}

.o-panel {
    padding: 20px 0px;
}

.o-panel .o-header {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    color: #242424;
}

.t-header {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.32px;
    color: #242424;
}

.custom-control.custom-checkbox {
    border-radius: 8px;
    background-color: #f3f3f3;
    padding: 14px 40px;
    margin: 10px 0px;
}

.custom-control.custom-checkbox .custom-control-label {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: #242424;
    padding-left: 10px;
}

.custom-control.custom-checkbox .custom-control-input:not(:checked):not(:indeterminate) ~ .custom-control-label:before {
    border-radius: 2px;
    border: #01010187 solid 1px;
    outline: none !important;

}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
}


.d-checkbox {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.32px;
    color: #242424;
    margin: 20px 0px;
}

.d-checkbox a {
    color: #005fa4;
}

textarea.form-control::placeholder {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.32px;
    color: #242424;
    opacity: 0.5;
}

textarea.form-control {
    border-radius: 8px;
    border: solid 1px #979797;
    padding: 15px;
    font-size: 14px;
}

.odoo-accounting-submit, .odoo-schedule-t {
    border-radius: 8px !important;
    background-color: #9d668f !important;
    margin: 0 !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white) !important;
}

.d-checkbox {
}

.o_website_calendar {
    margin-top: 152px;
    font-family: 'SF UI Display Regular';
}

/* page: demo 3*/
.o_website_calendar .o_page_header {
    font-family: 'SF UI Display Bold' !important;
    border-bottom: none !important;
    margin-top: 0 !important;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.65px;
    color: #704866;
}

.o_website_calendar h3 {
    font-family: 'SF UI Display Medium';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.49px;
    color: #2c3135;
}

table.s-table.table th {
    font-size: 17.5px;
    line-height: 0.83;
    text-align: center;
    color: #7f8fa4;
    padding-top: 1.1rem !important;
    padding-bottom: 1rem !important;
}

table.s-table.table td,
table.s-table.table th {
    padding: 4px 2px;
}

.o_calendar_days .o_mute_day {
    opacity: 0.5;
    background: #edf2f5;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 3px;
}

.o_calendar_days td div {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    min-width: 75px;
}

.o_calendar_days td div.dropdown-backdrop {
    padding: 0px;
}

.o_calendar_days .dropdown .dropdown-menu .dropdown-item:active,
.o_calendar_days .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #d0d0d0;
}

@media (max-width: 768px) {
    .o-website-common .o-website-container-s {
        padding: 0px;
    }

    .o-website-common .o-website-container {
        padding: 0px;
        max-width: 85%;
    }

    .b-schedule button, .p-wrapper {
        width: 257px !important;
    }

    .section-blocks .s-item {
        width: 100% !important;
        margin: 5px 0px !important;
    }
}

@media (max-width: 600px) {
    .o_calendar_days td div {
        min-width: 40px;
    }

    .o-website-common .o-website-container-s {
        padding: 0px;
    }

    .b-schedule button, .p-wrapper {
        width: 315px !important;
    }

    .odoo-accounting-book-form {
        padding: 0 !important;
    }

    .custom-btn-pay {
        width: 100% !important;
    }
}


@media (max-width: 736px) {
    .v-hr {
        border-left: none !important;
    }
}


@media (min-width: 1025px) {
    .b-schedule {
        width: 338px !important;
    }
}

.o_calendar_days .o_weekend {
    background-color: inherit !important;

}

.o_calendar_days .o_today::after {
    bottom: 4px !important;
}

.o_calendar_days .o_day .o_slots_dropdown {
    padding: inherit !important;
    background-color: #9d668f;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.o_calendar_days .o_day {
    background-color: inherit !important;
    padding: 3px !important;
}

.o_calendar_days {
    height: inherit !important;
}

.h-highlight {
    border-radius: 8px;
    background-color: #d4edda !important;
    padding: 11px 20px;
    letter-spacing: 0.32px;
    color: #155724 !important;
    margin: 15px 0px;
    font-size: 14px;
    border-color: #c3e6cb;
    text-align: center;
}

.h-highlight span {
    font-weight: 600;
}

.d-header {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.32px;
    color: #242424;
}

.d-header a {
    color: #005fa4;
}

.t-schedule {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.57;
    letter-spacing: 0.32px;
    color: #242424;
}

.c-schedule {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.57;
    letter-spacing: 0.32px;
    color: #242424;
}

.c-schedule li {
    list-style: none;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.32px;
    color: #242424;
    margin-bottom: 0;
}

.b-schedule {
    margin: 8px 0px;
    float: right;
    clear: both;
    width: 100%;
}

.b-schedule:first-child {
    margin-top: 25px;
}

.b-schedule a.btn {
    text-transform: inherit;
    /*width: 325px;*/
    /*height: 50px;*/
    box-shadow: none !important;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    padding: 1rem 2.14rem;
    text-transform: inherit;
    text-decoration: none;
}

.b-schedule a.btn.cancel {
    border-radius: 8px;
    border: solid 1px #979797;
    background-color: inherit !important;
    color: #242424 !important;
    font-weight: normal !important;
}

.b-schedule a.btn.n-border {
    border: none !important;
    text-decoration: underline;
}

.b-schedule a {
    font-size: 14px;
    color: #242424;
    text-decoration: underline;
}

.p-wrapper {
    text-align: center;
    width: 338px;
    height: 50px;
}

.v-hr {
    border-left: solid 1px #97979742;
}

.section-blocks {
    margin: 30px 0px;
}

.section-blocks .s-item {
    width: 28%;
    min-width: 100px;
    border-radius: 8px;
    border: solid 1px #9d668f;
    background-color: white;
    text-align: center;
    display: inline-block;
    margin: 5px;
}

.section-blocks .s-item-t {
    padding: 8px;
}

.section-blocks .s-item-b {
    background: #9d668f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 61px;
    display: table;
    width: 100%;
}

.section-blocks .s-item-t .s-item-text {
    font-size: 10px;
    color: #704866;
}

.section-blocks .s-item-t .s-item-thead {
    font-weight: bold;
    text-transform: uppercase;
}

.section-blocks .s-item-t .s-item-tbody {
    font-weight: normal;
    line-height: 10px;
}

.section-blocks .s-item-b .s-item-wrapper {
    vertical-align: middle;
    display: table-cell;
}

.section-blocks .s-item-b .s-item-text {
    font-size: 24px;
    line-height: normal;
    color: var(--white);
}

.section-blocks .s-item-b .s-item-thead {
    font-weight: bold;
    text-transform: uppercase;
}

.section-blocks .s-item-b .s-item-tbody {
    font-size: 13px;
    font-weight: normal;
}

.custom-modal .modal-dialog {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (2.5rem * 2));
}

.custom-modal .modal-header {
    margin: 0px 25px;
    padding: 1rem 0rem;
}

.custom-modal .modal-header .modal-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #242424;
}

.custom-modal .m-body {
    margin: 8px;
}

.custom-modal .m-body .m-item {
    margin: 15px 0px;
}

.custom-modal .m-body .m-t {
    font-size: 16px;
    color: #242424;
}

.custom-modal .m-body .m-date-t {
    font-size: 16px;
    color: #704866;
    background-color: #9d668f3b;
    padding: 10px 20px;
    font-weight: bold;
    margin: 10px 0px;
    max-width: fit-content;
}

.custom-modal .m-body .m-cf-t {
    font-size: 16px;
    font-weight: 500;
    color: #242424;
}

.custom-modal .custom-btn {
    padding: 11px 30px;
    box-shadow: none;
    border-radius: 0;
}

.custom-modal .custom-btn-primary {
    background-color: #704866;
    color: #fff;
}

.custom-modal .custom-btn-primary:hover {
    color: #fff;
}

.custom-modal .custom-btn-default {
    background-color: #fff;
    color: #704866;
    border: solid 1px #704866;
}

.custom-modal .modal-body {
    padding: 0rem 1rem;
}

.custom-modal .modal-footer {
    border: none;
    justify-content: left;
    padding: 1rem 1rem 2rem 1rem;
}

.sp-items {
    margin: 25px 0px;
}

.sp-item {
    min-width: 200px;
    width: 100%;
    background-color: white;
    text-align: center;
    display: inline-block;
    padding: 30px 15px;
}

.sp-item:hover {
    background-color: #f5eff3;
}

.sp-item .sp-item-t {
    height: 125px;
    display: table;
    width: 100%;
}

.sp-item .sp-item-wrapper {
    display: table-cell;
}

.sp-item .sp-item-t .sp-item-text {
    font-weight: bold;
    text-align: center;
}

.sp-item .sp-item-t .sp-item-thead {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 1.2px;
    color: #242424;
}

.sp-item .sp-item-t .sp-item-tbody {
    font-size: 27px;
    line-height: 2;
    letter-spacing: 2px;
    color: #9d668f;
}

.sp-item .sp-item-t .sp-item-spanning {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.19;
    color: #242424;
    min-height: 15px;
}

.sp-item .sp-item-b {
    height: 100px;
    display: table;
    width: 100%;
}

.sp-item .sp-item-b .sp-item-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #242424;
}

.sp-item .sp-item-b .sp-item-thead {
}

.sp-item .sp-item-b .sp-item-tbody {
    line-height: 3.14;
}

.custom-btn-buy {
    padding: 0.76rem 2.14rem !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: inherit !important;
    border-radius: 8px !important;
    background-color: #9d668f !important;
    margin: 0 !important;
    color: var(--white) !important;
}

.custom-btn-pay {
    text-transform: uppercase !important;
    min-width: 300px !important;
}

.checkout-wrapper {
    margin: 30px 0px;
}

.checkout-wrapper .c-description {
    margin: 25px 0px;
}

.checkout-wrapper .c-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.32px;
    color: #242424;
}

.checkout-wrapper .c-info .c-info-header {
    font-weight: bold;
    line-height: 8px;
}

.checkout-wrapper .c-info .c-info-body {
    line-height: 5px;
}

.c-table {
    border-radius: 8px;
    background-color: #f5eff3;
    max-width: 520px;
    margin: 30px 0px;
}

.c-table th {
    font-weight: bold;
    border-bottom: solid 1px #9d668f30 !important;
}

.c-table .total-col {
    background-color: #9d668f40;
}

.c-table .total-col td {
    font-weight: 600;
    font-size: 16px;
}

.c-table .total-col td {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.c-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.c-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.c-table td, .c-table th {
    padding: 0.75rem 1.75rem !important;
}

.l-picker .bootstrap-select button:after {
    display: inline-block;
}

div.dropdown.bootstrap-select.fit-width.dropup.show {
    display: inline-block !important;
}

.md-form > input[type=time]:not(.browser-default) + label, .md-form > input[type]:-webkit-autofill:not(.browser-default):not([type=search]) + label {
    transform: translateY(-14px) scale(.8);
}

.c-alert-danger p {
    margin: 0;
}

.c-alert-danger p#message {
    margin: 10px 0px 5px 0px;
}

div.c-schedule p.appointment-topics {
    line-height: 25px;
    margin-left: 15px;
}

div.dropdown-menu.show {
    z-index: 99999;
}

table#summary-appointment {
    width: 100%;
}

table#summary-appointment th {
    vertical-align: top;
}

td.padding-col {
    width: 15px;
}

#booking-confirmation {
    font-family: 'SF UI Display Regular';
}

p#timezone strong{
    font-weight: bold;
}